/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*/

* {
  /*border: 1px solid black;*/
  box-sizing: border-box;
}
html {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
body {
  margin: 0;
  padding: 0;
}
#header_index {
  font-family: 'PT Sans Narrow', sans-serif;
  letter-spacing: 3px;
  color: #3775e8;
  text-align: right;
  margin-right: 40px;
  font-size: 40pt;
}
h2 {
  color: #3775e8;
  font-family: 'PT Sans Narrow', sans-serif;
  letter-spacing: 1px;
  font-size: 25pt;
}
h3 {
  color: #3775e8;
  font-family: 'PT Sans Narrow', sans-serif;
  letter-spacing: 1px;
}
p {
  font-family: 'PT Sans', sans-serif;
}
a {
  text-decoration: none;
  font-style: italic;
  color: #3775e8;
}
.entry_link {
  float: right;
  margin-right: 80px;
  font-style: italic;
}
.wrapper {
  width:100%;
  height: 100%;
  position:relative;
  display:block;
  clear: both;
  padding: 0;
  margin: 0;
}
.logo_div {
  height: 150px;
  width: 90px;
  margin: auto;
  margin-top: 80px;
}
.content {
  width:80%;
  top:0px;
  margin-bottom: 0;
  margin-left: 20%;
}
.sidebar {
  background: #3775e8;
  height: 100%;
  width: 20%;
  top:0px;
  left:0px;
  margin-bottom:0px;
  position: fixed;
}
.sidebar_nav a{
  text-decoration: none;
  display: block;
  color: white;
  font-family: 'PT Sans Narrow', sans-serif;
  letter-spacing: 1px;
  font-style: italic;
  text-align: center;
}

.bird_img {
  height: 150px;
  width: 150px;
  border-radius: 35px;
  float: left;
  margin-right: 20px;
}
img {
  max-height: 100%;
  max-width: 100%;
}
#logo {
  max-height: 100%;
  max-width: 100%;
}
.post {
  width: 90%;
  border-bottom: 2px solid #3775e8;
  margin-left: 50px;
  margin-top: 20px;
  clear: both;
  overflow: hidden;
}
.post_show {
  width: 90%;
  height: 170px;
  margin-left: 50px;
  margin-top: 20px;
}
.form_new_post,
.form-signin {
  max-width: 380px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  height: 400px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
  font-family: 'PT Sans', sans-serif;
}
.submit_button {
  font-size: 20px;
  margin-left: 80px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
  float: right;
}
label {
  float: left;
  text-align: right;
  display: block;
}
.loginform {
  margin-left: 50px;
  margin-top: 50px;
  color: white;
  font-family: 'PT Sans Narrow', sans-serif;
  letter-spacing: 1px;
}
.navbox {
  width: 70%;
  background: white;
  font-family: 'PT Sans', sans-serif;
  color: #3775e8;
  margin: auto;
  margin-top: 50px;
}
.navbox li{
  margin-left: -30px;
  padding: 5px;
  list-style: none;
}
.navbox a {
  text-align: left;
  color: #3775e8
}
.field_notes {
  height: 100px;
  width: 150px;
}
.location {
  font-size: 15px;
}
.comment_field {
  width: 200px;
  height: 100px;
}
