/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
   margin: 0;
   padding: 0;
   height: 100%;
 }
 .wrapper {
   min-height:100%;
   width:100%;
   height: 100vh;
   position:relative;
   display:inline-block;
 }
 .sidebar {
   background: #d5a761;
   width: 20%;
   top:0px;
   left:0px;
   bottom:0px;
   position:absolute;
 }
 .content {
   height: 100vh;
   width:80%;
   top:0px;
   position:relative;
   background-color: #F1F1D4;
   float:right;
 }
 .bird_img {
   height: 150px;
   width: 150px;
 }
 img {
   max-height: 100%;
   max-width: 100%;
 }
 .post {
   width: 800px;
   border: 2px solid white;
 }
